{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}

    <h2 class="archive__item-title" itemprop="headline">
      {% if post.link %}
        <a href="{{ post.link }}">{{ title }}</a> <a href="{{ base_path }}{{ post.url }}" rel="permalink"><i class="fa fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
      {% else %}
        <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
      {% endif %}
    </h2>

    {% if post.read_time %}
      <p class="page__meta"><i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</p>
    {% endif %}

    {% assign abstract_id = post.permalink | split: "/" %}
    {% assign collapse_id = abstract_id.last | prepend: "publist-" %}

    {% if page.url == "/publications/" %}
    <div class="btn-group" role="group" aria-label="Basic example">
      {% if post.abstract %}
        <div>
        <button class="btn btn--danger bttn-radius-left" type="button" data-toggle="collapse" data-target="{{ collapse_id | prepend: "#" }}" aria-expanded="true" aria-controls="{{ collapse_id }}">
      {% else %}
        <div class="cannot-click">
        <button class="btn btn--danger btn--disabled bttn-radius-left" type="button">
      {% endif %}
          <i class="fa fa-book" aria-hidden="true"></i><span> Abstract</span>
        </button>
        </div>



      {% if post.paperurl %}
      <div>
      <a href="{{ post.paperurl }}" class="btn btn--info bttn-radius-none" style="text-decoration: none" target="_blank">
      {% else %}
      <div class="cannot-click">
      <a href="#" class="btn btn--info btn--disabled bttn-radius-none" style="text-decoration: none" target="_blank">
      {% endif %}
        <i class="fa fa-download" aria-hidden="true"></i><span> Download</span>
      </a>
      </div>

      {% if post.codeurl %}
      <div>
      <a href="{{ post.codeurl }}" class="btn btn--code bttn-radius-none" style="text-decoration: none" target="_blank">
      {% else %}
      <div class="cannot-click">
      <a href="#" class="btn btn--code btn--disabled bttn-radius-none" style="text-decoration: none" target="_blank">
      {% endif %}
        <i class="fa fa-code" aria-hidden="true"></i> Code
      </a>
      </div>

      {% if post.posterurl %}
      <div>
      <a href="{{ post.posterurl }}" class="btn btn--warning bttn-radius-none" style="text-decoration: none" target="_blank">
      {% else %}
      <div class="cannot-click">
      <a href="#" class="btn btn--warning btn--disabled bttn-radius-none" style="text-decoration: none" target="_blank">
      {% endif %}
        <i class="fa fa-line-chart" style="font-size: 1.2em" aria-hidden="true"></i> Poster
      </a>
      </div>

      {% if post.bibtex %}
      {% assign tooltip_id = abstract_id.last | prepend: "tooltip-" %}
      <div>
      <button type="button" class="btn btn--success bttn-radius-right" title='Bibtex' data-trigger="click"
          data-toggle="popover" data-html="true" data-content="{{ post.bibtex }}"
          data-template='<div class="popover" role="tooltip"><div class="arrow"></div><h3 class="popover-header" style="margin-top: 0em;"></h3><tt><div id="{{ tooltip_id }}" class="popover-body" style="font-size: .65em !important; white-space: pre; overflow: auto"></div></tt><a href="{{ post.bibtex }}" class="btn btn--success" style="margin: 0em 0em 0.5em 1em;"><i class="fa fa-download" aria-hidden="true"></i><span> DOWNLOAD</span></a> <button class="btn btn--success element-align-right" style="margin: 0em 1em 0.5em 0em;" data-clipboard-target="#{{ tooltip_id }}"><i class="fa fa-clone" aria-hidden="true"></i> COPY</button></div>'>
      {% else %}
      <div class="cannot-click">
      <button type="button" class="btn btn--success btn--disabled bttn-radius-right">
      {% endif %}
        <i class="fa fa-quote-right" aria-hidden="true"></i> Bibtex
      </button>
      </div>
    </div>
    {% endif %}


    <p>
      {% if post.authors %}
      <span>{{ post.authors }}</span><br>
      {% endif %}
      {% if post.date and post.venue %}
      <span><i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }}</span>
      {% elsif post.venue %}
      <span><i>{{ post.venue }}</i></span>
      {% endif %}
    </p>

    {% if page.url == "/publications/" %}
    <div class="collapse" id="{{ collapse_id }}">
      <div class="card card-body text-justify">
        {{ post.abstract | markdownify }}
      </div>
    </div>
    {% endif %}




  </article>
</div>
