<script src="{{ base_path }}/assets/js/main.min.js"></script>
<!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<script>
$(document).ready(function(){

    var filename = $("#div-show-bib").attr("data");
    $("#div-show-bib").load(filename);

    $('[data-toggle="popover"]').each(function(index, element){
      var loadname = element.getAttribute("data-content");
      $.get(loadname, function(data){
        element.setAttribute("data-content", data);
      });
    });

    $('[data-toggle="popover"]').popover();


    $("body").on('click', '[data-toggle="popover"]', function(e) {
        e.stopPropagation();
    });
    $("body").on('click', '.popover', function(e) {
         e.stopPropagation();
    });
    $("body").on('click', function(e) {
            $('[data-toggle="popover"]').popover('hide');
    });

});
</script>

<script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>

<script>
new ClipboardJS('.btn');
</script>

{% include analytics.html %}
{% include /comments-providers/scripts.html %}
